# Functions, Scoping, Data Collections 1 & List Comprehensions

## Tasks Today:

<i>Monday Additions (or, and ... if statements)</i>

1) String Manipulation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) strip() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) title() <br>
2) Working With Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) min() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) max() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) sum() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) sort() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Copying a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) 'not in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Checking an Empty List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Removing Instances with a Loop <br>
3) List Comprehensions <br>
4) Tuples <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) sorted() <br>
5) Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) User-Defined vs. Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Accepting Parameters <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Default Parameters <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Making an Argument Optional <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Keyword Arguments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) Returning Values <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) *args <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Docstring <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Using a User Function in a Loop <br>
6) Scope

### String Manipulation

##### .lstrip()

In [26]:
# string.lstrip()
str1 = "  ---Demo String"
print("String 1: "+str1)
str2 = str1.lstrip()
print("String 2: "+str2)
str3 = str2.lstrip("-")
print("String 3: "+str3)

String 1:   ---Demo String
String 2: ---Demo String
String 3: Demo String

##### .rstrip()

In [27]:
# string.rstrip()
str1 = "  ---Demo String-----     "
print("String 1: "+str1)
str2 = str1.rstrip()
print("String 2: "+str2)
str3 = str2.rstrip("-")
print("String 3: "+str3)

String 1:   ---Demo String-----
String 2:   ---Demo String-----
String 3:   ---Demo String

##### .strip()

In [28]:
# string.strip()
str1 = "  ---Demo String-----     "
print("String 1: "+str1)
str2 = str1.strip()
print("String 2: "+str2)
str3 = str2.strip("-")
print("String 3: "+str3)

String 1:   ---Demo String-----
String 2: ---Demo String-----
String 3: Demo String

##### .title()

In [29]:
# string.title()
str1 = "welcome to demo World"
print("String 1: "+str1)
str2 = str1.title()
print("String 2: "+str2)

String 1: welcome to demo World
String 2: Welcome To Demo World

### String Exercise <br>
<p>Strip all white space and capitalize every name in the list given</p>

In [30]:
names = ['    coNNor', 'max', ' EVan ', 'JORDAN']
# HINT: You will need to use a for loop for iteration
for name in names:
  str1 = name.strip()
  print(str1.title())

Connor
Max
Evan
Jordan

### Working With Lists

##### min()

In [31]:
# min(list)
list1 = ['lmn', 'abc', 'opq', 'xyz']
list2 = [458, 121, 900, 456, 789, 999]
print ("List 1 min value: ", min(list1))
print ("List 2 min value: ", min(list2))

List 1 min value:  abc
List 2 min value:  121

##### max()

In [32]:
# max(list)
list1 = ['lmn', 'abc', 'opq', 'xyz']
list2 = [458, 121, 900, 456, 789, 999]
print ("List 1 min value: ", max(list1))
print ("List 2 min value: ", max(list2))

List 1 min value:  xyz
List 2 min value:  999

##### sum()

In [33]:
# sum(list)
numlist = [2, 3, 4, 5, 2, 6]
print(sum(numlist))
print(sum(numlist, 3))

22
25

##### sorted()

In [34]:
# sorted(list)
numlist2 = [2, 3, 4, 36, 33, 12, 5, 20, 6, 10]
print (sorted(numlist2))
sorted_list = sorted(numlist2)
print("Original List: ", numlist2)
print("Sorted List: ", sorted_list)

[2, 3, 4, 5, 6, 10, 12, 20, 33, 36]
Original List:  [2, 3, 4, 36, 33, 12, 5, 20, 6, 10]
Sorted List:  [2, 3, 4, 5, 6, 10, 12, 20, 33, 36]

##### .sort() <br>
<p>Difference between sort and sorted, is that sorted doesn't change original list it returns a copy, while .sort changes the original list</p>

In [35]:
# list.sort()
numlist3 = [2, 3, 4, 36, 33, 12, 5, 20, 6, 10]
print("Original List: ", numlist3)
numlist3.sort()
print("Sorted List: ", numlist3)
# use sorted when you don't want to alter original list, use .sort() when you want to alter original list

Original List:  [2, 3, 4, 36, 33, 12, 5, 20, 6, 10]
Sorted List:  [2, 3, 4, 5, 6, 10, 12, 20, 33, 36]

##### Copying a List

In [36]:
# [:] copies a list, doesn't alter original
list1 = ['lmn', 'abc', 'opq', 'xyz']
list2 = list1
list2.append('def')
print ('List1: ', list1)
print ('List2: ', list2)
print('--------------------------------------------------')
list3 = ['lmn', 'abc', 'opq', 'xyz']
list4 = list3[:]
list3.append('def')
print ('List3: ', list3)
print ('List4: ', list4)

List1:  ['lmn', 'abc', 'opq', 'xyz', 'def']
List2:  ['lmn', 'abc', 'opq', 'xyz', 'def']
--------------------------------------------------
List3:  ['lmn', 'abc', 'opq', 'xyz', 'def']
List4:  ['lmn', 'abc', 'opq', 'xyz']

##### 'in' keyword

In [37]:
list1 = ['lmn', 'abc', 'opq', 'xyz']
print('abc' in list1)

True

##### 'not in' keyword

In [38]:
list1 = ['lmn', 'abc', 'opq', 'xyz']
print('abc' not in list1)

False

##### Checking an Empty List

In [39]:
# if l_1: or if l_1 = []
list1 = ['lmn', 'abc', 'opq', 'xyz']
list2 = []
if list1 == []:
  print('List1 is empty')
else:
  print('List1 is not empty')
if list2 == []:
  print('List2 is empty')
else:
  print('List2 is not empty')
print('---------------------------------------------')
if list1:
  print('List1 is not empty')
else:
  print('List1 is empty')
if list2:
  print('List2 is not empty')
else:
  print('List2 is empty')
print('---------------------------------------------')
if len(list1) == 0:
  print('List1 is empty')
else:
  print('List1 is not empty')
if len(list2) == 0:
  print('List2 is empty')
else:
  print('List2 is not empty')

List1 is not empty
List2 is empty
---------------------------------------------
List1 is not empty
List2 is empty
---------------------------------------------
List1 is not empty
List2 is empty

##### Removing Instances with a Loop

In [40]:
# while, remove
list1 = ['lmn', 'abc', 'opq', 'xyz', 'abc', 'def', 'abc', 'cde', 'cat']
print('List before: ', list1)
for listitem in list1:
  if listitem == 'abc':
    list1.remove(listitem)
print('List After: ', list1)
print('--------------------------------------------------------------------')
list2 = ['lmn', 'abc', 'opq', 'xyz', 'abc', 'def', 'abc', 'cde', 'cat']
print('List before: ', list2)
i = 0
while (i < len(list2)):
  if list2[i] == 'abc':
    list2.remove(list2[i])
  i = i + 1
print('List After: ', list2)

List before:  ['lmn', 'abc', 'opq', 'xyz', 'abc', 'def', 'abc', 'cde', 'cat']
List After:  ['lmn', 'opq', 'xyz', 'def', 'cde', 'cat']
--------------------------------------------------------------------
List before:  ['lmn', 'abc', 'opq', 'xyz', 'abc', 'def', 'abc', 'cde', 'cat']
List After:  ['lmn', 'opq', 'xyz', 'def', 'cde', 'cat']

### List Exercise <br>
<p>Remove all duplicates<br><b>Extra: Create a program that will remove any duplicates from a given list</b></p>

In [41]:
names = ['connor', 'connor', 'bob', 'connor', 'evan', 'max', 'evan', 2, 2, 2, 3, 3, 4, 'bob', 'kevin']
# Hint 1: You will need an append
# Hint 2: Using an empty list will make life easier

print('Original Names List: ', names)
new_names = []
for name in names:
  if name not in new_names:
    new_names.append(name)
print('New Names List: ', new_names)

Original Names List:  ['connor', 'connor', 'bob', 'connor', 'evan', 'max', 'evan', 2, 2, 2, 3, 3, 4, 'bob', 'kevin']
New Names List:  ['connor', 'bob', 'evan', 'max', 2, 3, 4, 'kevin']

### List Comprehensions <br>
<p>Creating a quickly generated list to work with<br>*result*  = [*transform*    *iteration*         *filter*     ]</p>

##### In a list comprehension we have a few pieces:
1. The first is the counter/ variable - IN this the variable is x
2. then we have a transform for the variable
3. The finale part of a list comp is called the condition

```python
    [variable, transform, condition]
```

In [42]:
# number comprehension
# With a regular for loop

# IN a list comprehension we have a few pieces:
# The first is the counter/ variable - IN this the variable is x
# Then we have a transform for the variable 
# The finale part of a list comp is called the condition
#[variable, transform, condition]

names = ['connor', 'connor', 'bob', 'connor', 'evan', 'max', 'evan', 2, 2, 2, 3, 3, 4, 'bob', 'kevin']
# Hint 1: You will need an append
# Hint 2: Using an empty list will make life easier
print('Original Names List: ', names)
new_names = []
[new_names.append(name) for name in names if name not in new_names]
print('New Names List: ', new_names)

Original Names List:  ['connor', 'connor', 'bob', 'connor', 'evan', 'max', 'evan', 2, 2, 2, 3, 3, 4, 'bob', 'kevin']
New Names List:  ['connor', 'bob', 'evan', 'max', 2, 3, 4, 'kevin']

There are a few benefits to using List comprehensions. The most obvious would be that we now have shorter code to work with instead of using 3+ lines of code in the for loop variant.

Another is an added benefit to memory usage. Since the list's memory is allocated first before adding elements to it, we don't have to resize the list once we add elements to it.

Lastly, list comprehensions are considered the "pythonic" way to write code by the PEP8 standards (Python Style Guide)

In [43]:
# square number comprehension
number_list = [2,4,1,5,6]
print('Original Number List: ', number_list)
new_number_list = [x**2 for x in number_list]
print('New Number List: ', new_number_list)

Original Number List:  [2, 4, 1, 5, 6]
New Number List:  [4, 16, 1, 25, 36]

In [44]:
# string comprehension
names = ['connor', 'connor', 'bob', 'connor', 'evan', 'max', 'evan', 2, 2, 2, 3, 3, 4, 'bob', 'kevin']
# Hint 1: You will need an append
# Hint 2: Using an empty list will make life easier
print('Original Names List: ', names)
new_names = []
new_names = [x for x in names if '2' not in str(x)]
#[new_names.append(name) for name in names if name not in new_names]
print('New Names List: ', new_names)

Original Names List:  ['connor', 'connor', 'bob', 'connor', 'evan', 'max', 'evan', 2, 2, 2, 3, 3, 4, 'bob', 'kevin']
New Names List:  ['connor', 'connor', 'bob', 'connor', 'evan', 'max', 'evan', 3, 3, 4, 'bob', 'kevin']

In [45]:
names = ['connor', 'connor', 'bob', 'connor', 'evan', 'max', 'evan', 2, 2, 2, 3, 3, 4, 'bob', 'kevin']
# Hint 1: You will need an append
# Hint 2: Using an empty list will make life easier
print('Original Names List: ', names)
new_names = []
new_names = [x for x in names if x != 'connor']
#[new_names.append(name) for name in names if name not in new_names]
print('New Names List: ', new_names)

Original Names List:  ['connor', 'connor', 'bob', 'connor', 'evan', 'max', 'evan', 2, 2, 2, 3, 3, 4, 'bob', 'kevin']
New Names List:  ['bob', 'evan', 'max', 'evan', 2, 2, 2, 3, 3, 4, 'bob', 'kevin']

In [46]:
names = ['connor', 'connor', 'bob', 'connor', 'evan', 'max', 'evan', 2, 2, 2, 3, 3, 4, 'bob', 'kevin']
# Hint 1: You will need an append
# Hint 2: Using an empty list will make life easier
print('Original Names List: ', names)
new_names = []
new_names = [x.title() for x in names if x not in [2,3,4]]
#[new_names.append(name) for name in names if name not in new_names]
print('New Names List: ', new_names)

Original Names List:  ['connor', 'connor', 'bob', 'connor', 'evan', 'max', 'evan', 2, 2, 2, 3, 3, 4, 'bob', 'kevin']
New Names List:  ['Connor', 'Connor', 'Bob', 'Connor', 'Evan', 'Max', 'Evan', 'Bob', 'Kevin']

### Tuples <br>
<p><b>Defined as an immutable list</b></p><br>Seperated by commas using parenthesis

In [47]:
demo_tup = ('apple', 'grapes', 'banana', 'orange')
print (demo_tup)

('apple', 'grapes', 'banana', 'orange')

##### sorted()

In [48]:
demo_tup = ('apple', 'grapes', 'banana', 'orange')
print (demo_tup)
sorted_demo_tup = tuple(sorted(demo_tup))
print (sorted_demo_tup)

('apple', 'grapes', 'banana', 'orange')
('apple', 'banana', 'grapes', 'orange')

##### Adding values to a Tuple

In [49]:
demo_tup = ('apple', 'grapes', 'banana', 'orange')
print (demo_tup)
demo_tup = demo_tup + ('pineapple',)
print (demo_tup)

('apple', 'grapes', 'banana', 'orange')
('apple', 'grapes', 'banana', 'orange', 'pineapple')

## Functions

##### User-Defined vs. Built-In Functions

In [50]:
print("Hello Wrold")                #Built-in function
def print_capital(str1):            #User Defined function
  cap_string = str1.upper()
  print(cap_string)

print_capital("hello World")

Hello Wrold
HELLO WORLD

##### Accepting Parameters

In [51]:
def full_name(firstname, lastname):
  return firstname + " " + lastname

print (full_name("Lionel", "Messi"))

Lionel Messi

##### Default Parameters

In [52]:
def student_grade(score = 60, maxmarks = 100):
  grade = 'F'
  percentage_score = ((score*100)/maxmarks)
  print(percentage_score)
  if ((percentage_score >60) and (percentage_score<=70)):
    grade = 'D'
  elif ((percentage_score >70) and (percentage_score<=80)):
    grade = 'C'
  elif ((percentage_score >80) and (percentage_score<=90)):
    grade = 'B'
  elif ((percentage_score >90) and (percentage_score<=100)):
    grade = 'A'
  return grade

print(student_grade(160, 200))
print(student_grade(70))
print(student_grade())

80.0
C
70.0
D
60.0
F

##### Making an Argument Optional

In [53]:
def fun_total_score(*args):
  total_score = 0
  for x in args:
    total_score = total_score + x
  return total_score

print(fun_total_score (10,25,35))
print(fun_total_score (10,25,35,50,60))

70
180

##### Keyword Arguments

In [54]:
# last_name='Max', first_name='Smith' in the function call
def full_name(firstname, lastname):
  return firstname + " " + lastname

print (full_name(firstname = "Smith", lastname = "Max"))
# see above

Smith Max

# Creating a start, stop, step function

In [55]:
def range_mult(stop, start=1, step=1):
  result = 1
  for i in range(start, stop, step):
    result = result * i
  return result

print(range_mult(6))
print(range_mult(6,3))
print(range_mult(6,3,2))

120
60
15

##### Returning Values

##### *args

In [56]:
def user_info(userid, *login_attempts, **userinfo):
  total_login_attempts = 0
  full_user_info = ""
  for i in login_attempts:
    total_login_attempts = total_login_attempts + i
  for key, value in userinfo.items():
    full_user_info = full_user_info + key + ":" + value + "\n"
  print("User Id: ", userid, "\nLogin Attempts: ", total_login_attempts, "\nUser Information:\n", full_user_info) 

user_info(111, 2,3,5,1,3, firstname="Smith", lastname ="max")
user_info(111, 2,3,5,1,3, firstname="Lionel", lastname ="Messi", email="liomessi@gmail.com")

User Id:  111
Login Attempts:  14
User Information:
 firstname:Smith
lastname:max

User Id:  111
Login Attempts:  14
User Information:
 firstname:Lionel
lastname:Messi
email:liomessi@gmail.com

##### Docstring

In [57]:
def number_sum(a,b):
  '''
  this function returns
  sum of two numbers
  '''
  return a+b

help(number_sum)

Help on function number_sum in module __main__:

number_sum(a, b)
    this function returns
    sum of two numbers

##### Using a User Function in a Loop

In [58]:
def user_exit():
  userinput = input("Do you want to continue (Y/N)?")
  return userinput

userinput = "Y"

while userinput == 'Y':
  userinput = user_exit()

Do you want to continue (Y/N)?Y
Do you want to continue (Y/N)?Y
Do you want to continue (Y/N)?N

## Function Exercise <br>
<p>Write a function that loops through a list of first_names and a list of last_names, combines the two and return a list of full_names</p>

In [59]:
first_name = ['John', 'Evan', 'Jordan', 'Max']
last_name = ['Smith', 'Smith', 'Williams', 'Bell']

# Output: ['John Smith', 'Evan Smith', 'Jordan Williams', 'Max Bell']
for fname, lname in zip(first_name, last_name):
  print(fname, lname )

John Smith
Evan Smith
Jordan Williams
Max Bell

## Scope <br>
<p>Scope refers to the ability to access variables, different types of scope include:<br>a) Global<br>b) Function (local)<br>c) Class (local)</p>

In [60]:
pi = 3.14
def area_of_circle(r):
  return pi*r*r

def change_pi():
  global pi
  pi = 3.1416

radius = int(input("please input circle radius: "))

print("Area of circle: ", area_of_circle(radius))
change_pi()

print("Area of circle: ", area_of_circle(radius))

please input circle radius: 5
Area of circle:  78.5
Area of circle:  78.54

# Exercises

## Exercise 1 <br>
<p>Given a list as a parameter,write a function that returns a list of numbers that are less than ten</b></i></p><br>
<p> For example: Say your input parameter to the function is [1,11,14,5,8,9]...Your output should [1,5,8,9]</p>

In [61]:
# Use the following list - [1,11,14,5,8,9]
def less_than_ten(l1):                  #Function to return list with values only less than 10 
  new_list = []
  new_list = [x for x in l1 if x<10 ]   #Loop through list, take value of each item in list, check if it is less than, if yes add it to new list 
  return new_list

l_1 = [1,11,14,5,8,9]

print(less_than_ten(l_1))

[1, 5, 8, 9]

## Exercise 2 <br>
<p>Write a function that takes in two lists and returns the two lists merged together and sorted<br>
<b><i>Hint: You can use the .sort() method</i></b></p>

In [62]:
l_1 = [1,2,3,4,5,6]
l_2 = [3,4,5,6,7,8,10]

def merge_and_sort(l1, l2):              #function to merge two input list and sort them
  merged_list = l1 + l2                  #Concatenate two list
  merged_list.sort()                     #sort the merged list
  return merged_list

print(merge_and_sort(l_1, l_2))

[1, 2, 3, 3, 4, 4, 5, 5, 6, 6, 7, 8, 10]